<!-- <div ng-controller="RegisterCtrl" layout="column">
  <br/>
  <md-content layout-padding class="autoScroll">
    <md-input-container>
      <md-icon md-svg-src="../assets/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="user.name" type="text" placeholder="Name">
    </md-input-container>

    <md-input-container md-no-float>
      <md-icon md-svg-src="../assets/icons/ic_phone_24px.svg"></md-icon>
      <input ng-model="user.phone" type="text" placeholder="Phone Number">
    </md-input-container>
    
    <md-input-container >
      <md-icon md-svg-src="../assets/icons/ic_email_24px.svg" class="email"></md-icon>
      <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>
    
    <md-input-container md-no-float>
      <md-icon md-svg-src="../assets/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
      <input ng-model="user.address" type="text" placeholder="Address" >
    </md-input-container>
  </md-content>
</div> -->
<h1 layout-padding>Register</h1>   
<form layout-padding layout="column">
  
  <md-input-container>
    <label>Email</label>
    <input ng-model="user.email" type="email" ng-required="true">
  </md-input-container>
  <md-input-container>
    <label>Password</label> 
    <input ng-model="user.password" type="password" ng-pa ng-required="true" placeholder="8 to 16 characters"/>
  </md-input-container>
  
  <md-button>Submit</md-button>
</form>