
  <div ng-controller="NavbarCtrl">
    <md-toolbar class="md-whiteframe-z2" >
      <div class="md-toolbar-tools" flex layout="row">
        
        <!-- The headding goes to two lines when on small scren. I am not sure if I care -->
        <h2>
          <span>Community Hub</span>
        </h2>

          <ul layout="row" class="nav navbar-nav">
            <div ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                <md-button ng-href="{{item.link}}">{{item.title}}</md-button>
            </div>
            <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
          </ul>
          
          <!-- spacer to seperate the toolbar left to right -->
          <span flex></span>

        
            <div ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><md-button href="/signup">Sign up</md-button></div>
            <div ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><md-button href="/login">Login</md-button></div>
            <div ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </div>
            <div ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><md-button aria-label="settings" class="md-icon-button" href="/settings"><span class="glyphicon glyphicon-cog"></span></md-button></div>
            <div ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><md-button class="md-warn" href="" ng-click="logout()">Logout</md-button></div>
   
        </div>
    </md-toolbar>
  </div>


