<div ng-controller="AddMarkerCtrl" layout=column>

<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>Add a Marker</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="answer('not applicable')">
      <md-icon md-svg-src="assets/images/icons/close24.svg" aria-label="Close dialog" ></md-icon>
    </md-button>
  </div>
</md-toolbar>
  
<form name="addMarkerForm">
  <md-input-container>
    <label>Title</label>
    <input type="text" data-ng-model="newMarker.Title" required="true">
  </md-input-container>

  <md-input-container>
    <label>Description</label>
    <input md-maxlength="300" required name="description" ng-model="newMarker.description">
    <div ng-messages="addMarkerForm.description.$error" >
      <div ng-message="md-maxlength">The name has to be less than 300 characters long.</div>
    </div>
  </md-input-container>

</form>
  <md-button ng-click="addMarker()" ng-disabled="addMarkerForm.$invalid" class="md-primary" layout layout-align="center end">Save</md-button>
</div>
